name: create and publish the docker image

on:
  release:
    types: [ published ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: log in to the container registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: extract metadata (tags, labels) for docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: set up qemu
        uses: docker/setup-qemu-action@v3.2.0

      - name: set up docker buildx for cache
        uses: docker/setup-buildx-action@v3.5.0

      - name: repository name to lowercase
        run: |
          echo "LOWERCASE_REPOSITORY_NAME=${REGISTRY}/${IMAGE_NAME@L}" >> "${GITHUB_ENV}"

      - name: build and push docker image
        id: push
        uses: docker/build-push-action@v6.5.0
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.LOWERCASE_REPOSITORY_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.LOWERCASE_REPOSITORY_NAME }}:buildcache,mode=max
